body {
  font-family: system-ui;
  font-size: 14px;
  background: rgb(200,215,245);
  color: rgb(30,30,30);
  display: flex;
  justify-content: space-around;
}
.container {
	display: flex;
  max-width: 800px;
  margin-top: 70px;
  flex-direction: column;
}
.partial-container {
	display: flex;
}
.container .subcontainer.sidebar {
  flex: 1;
}
.subcontainer {
  padding-left: 30px;
  padding-right: 30px;
}
.subcontainer:first-child {
  padding-left: 70px;
}
.subcontainer:last-child {
  padding-right: 70px;
}
.container .subcontainer.main-content {
  flex: 3;
}
.section > * {
  margin: 0;
}
.basics .identity-contact {
  margin-top: 10px;
}
.identity .identity-label {
  font-size: 16px;
}
p {
	margin-top: 0px;
}
