<html>
<head>
<link href="../src/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">
  <div class="subcontainer main-content">

    <div class="works">
      {{#work}}
      <div class="work experience">
        <div class="experience-summary">
          <div class="experience-name">
            <h2>{{name}}</h2>
            {{#acquirerName}}
            <em class="experience-name-acquirer">acquired by {{acquirerName}}</em>
            {{/acquirerName}}
          </div>
          <div class="experience-date">{{startDate}} → {{endDate}}</div>
        </div>
        <div class="experience-label">{{position}}</div>
        <ul class="work-highlight">
        {{#highlights}}
          <li>{{.}}</li>
        {{/highlights}}
        </ul>
      </div>
      {{/work}}
    </div>

    <div class="educations">
      {{#education}}
      <div class="education experience">
        <div class="experience-summary">
          <h2>{{institution}}</h2>
          <div class="experience-date">{{endDate}}</div>
        </div>
        <div class="experience-label">{{studyType}} — {{area}}</div>
      </div>
      {{/education}}
    </div>

  </div>
  <div class="subcontainer sidebar">

    <div class="basics">
      {{#basics}}
      <div class="identity section">
        <h1>{{name}}</h1>
        <div class="identity-contact">
          <div>
            <a href="mailto:{{email}}">{{email}}</a>
          </div>
          <div>{{phone}}</div>
          {{#profiles}}
          <div>
            <a href="{{{url}}}">{{network}}</a>
          </div>
          {{/profiles}}
        </div>
      </div>
      {{/basics}}
    </div>

    <dl class="skills">
    {{#skills}}
      <dt>{{name}}</dt>
      <dd>
        <dl class="skill-levels">
        {{#levels}}
          <dt>{{name}}</dt>
          <dd>
            <ul>
            {{#items}}
              <li>
                <strong>{{.}}</strong>
              </li>
            {{/items}}
            </ul>
          </dd>
        {{/levels}}
        </dl>
      </dd>
    {{/skills}}
    </dl>

    <dl class="tools">
      <dt>Tools</dt>
      <dd>
        <ul>
        {{#tools}}
          <li>
            <strong>{{.}}</strong>
          </li>
        {{/tools}}
        </ul>
      </dd>
    </dl>

  </div>
</div>
</body>
</html>
